@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');

:root {
    --green: #27ae60;
    --black: #192a56;
    --lightcolor: #B2BEB5;
    --box-sadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.1);


}
body{
    font-family: 'Poppins';
    background-color: #1f2937;
    
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transform: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-sadow);

}

header .logo {
    color: #192a56;
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo img {
    background-color: #27ae60;
    border-radius: 10px;
    margin-top: 2px;
}

header .navbar a {
    font-size: 2.2rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: black;
}

header .navbar a.active,

header .navbar a:hover {
    color: #000000;
    border-bottom: solid green;
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background-color: #3f3e3e;

}

header .icons i:hover,
header .icons a:hover {
    color: wheat;

}

header .icons #menu-bars {
    display: none;

}

h1 {
    margin-left: 10px;
    letter-spacing: 4px;
}

h1:hover {
    letter-spacing: 5px;
    transition: 1.7s;
}

/* navbarcopy */
.navbarcopy a {
    color: black;
}

header .navbarcopy {
    margin-left: 1100px;
}

@media(max-width:600px) {
    header .navbarcopy {
        display: none;
    }
}

@media(min-width:600px) {
    header .navbar {
        display: none;
    }
}

header .navbarcopy a {
    font-size: 2.2rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: black;
}

header .navbarcopy a.active,

header .navbarcopy a:hover {
    color: #000000;
    border-bottom: solid green;
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background-color: #3f3e3e;

}


.navbarcopy a {
    color: black;
}






/* media queries */
@media(max-width:600px) {
    html {
        font-size: 50%;
    }

    header {
        padding: 1rem 2rem;
    }

}

@media(max-width:600px) {

    header .icons #menu-bars {
        display: inline-block;
        background-color: green;
        font-size: 25px;
        text-transform: none;

    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        border-bottom: .1rem solid rgba(0, 0, 0, .1);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }


    header .navbar a {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background-color: #eee;

    }

    h1 {
        margin-left: -170px;
        font-size: 22px;
        letter-spacing: 3px;
    }



}

@media(min-width:1012px) {
    header .navbarcopy {
        margin-left: 800px;
        /* padding: 10px; */
        /* background-color: #192a56; */
    }
}

@media(min-width:600px) {
    h1 {
        margin-left: -50px;
    }
}

/* * homepage started */
.homepage {
    display: flex;
    flex-direction: row;
    gap: 300px;
    height: 100vh;
    margin-top: -100px;
    margin-left: -105px;
}

.heading h2 {
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 70px;
    margin-left: 300px;
    margin-top: 270px;
    color: rgb(0, 136, 255);

}

#para1 {
    font-size: 28px;
    margin-left: 300px;
    letter-spacing: 1px;
    line-height: 35px;
    margin-top: 50px;
    color: whitesmoke;
}

.image img {
    width: 400px;
    margin-top: 220px;
    margin-left: -120px;
}

#explore {
    width: 150px;
    height: 50px;
    background-color: rgb(59, 124, 59);
    margin-top: 70px;
    margin-left: 300px;
    font-size: 25px;
    border-radius: 10px;

}

#explore:hover {
    cursor: copy;
    background-color: #000000;
    transition: 1.7s;
}

#explore a {
    color: white;
    font-weight: bold;
}

#explore a:hover {
    letter-spacing: 5px;
    transition: 1.7s;
}

.button1 {
    background-color: #000000;
}
.icon{
    font-size: 4.3rem;
    padding-top:  30px;
    padding-left: 295px;
    /* cursor: pointer; */
}
.icon i{
    transition: 0.3s ease-in;
    transform: matrix(200);

}
.icon i:hover{
    color: rgb(0, 8, 247);
    border-radius: 40px;
}
.icon a{
    color: rgb(232, 232, 255);
}
span1{
    color: rgb(131, 128, 128);
}
span{
    color: #27ae60;
}

@media(max-width:600px) {
    .homepage {
        display: flex;
        flex-direction: column;
        gap: 50px;
        height: 150vh;
        margin-top: 50px;
        /* background-color: rgb(255, 255, 0); */
    }

    .heading h2 {
        font-size: 25px;
        letter-spacing: 3px;
        line-height: 40px;
        text-align: center;
        margin-left: 135px;
        margin-top: 400px;
        width: 70%;

    }

    #para1 {
        font-size: 23px;
        letter-spacing: 1px;
        line-height: 30px;
        margin-left: 165px;
        margin-top: 50px;
        width: 60%;
        text-align: left;
        font-weight: bold;

    }

    .image img {
        width: 250px;
    }

    .image {
        margin-top: -1370px;
        margin-left: 300px;
    }

    #explore {
        margin-left: 225px;
        margin-top: 20px;
        font-size: 18px;
        width: 150px;
        height: 40px;

    }
    .icon{
        font-size: 4.3rem;
        padding-top:  30px;
        padding-left: 190px;
        /* cursor: pointer; */
    }
}
/* .aboutPAGE START */
#aboutme{
    height: 100vh;
    width: 100%;
    margin-left: 110px;
}
.about {
    display: flex;
    gap: 100px;
}

.aboutimage img {
    margin-top: 150px;
    width: 600px;
    height: 700px;
    border-radius: 10px;
}


.Headin-about {
    margin-top: 130px;

}

.Headin-about .head1 {
    font-size: 52px;
    color:#27ae60;
}

.paraabout {
    width: 90%;
    font-size: 23px;
    margin-top: 50px;
    color: whitesmoke;
    font-weight: bold;
}


@media(max-width:600px) {
    #aboutme{
        height: 100vh;
        width: 60%;
        margin-left: 110px;
    }
    .about {
        display: flex;
        flex-direction: column;
        gap: 300px;
        
        /* background-color: #192a56; */
    }

    .aboutimage img {
        margin-top: 50px;
        height: 350px;
        width: 350px;
        margin-left: -100px;
        border-radius: 50%;
    }

    .Headin-about {
        margin-top: -250px;
        margin-left: -220px;

    }

    .Headin-about .head1 {
        font-size: 25px;
        text-align: left;
        margin-left: 230px;
    }

    .paraabout {
        font-size: 22px;
        text-align: left;
        /* letter-spacing: 1px; */
        margin-left: 152px;
        margin-top: 30px;
        width: 65%;
    }
   
   
}

.skillsection{
    grid-area: skillsect;
    
}
.skillsection{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
    margin-top: 20px;
    margin-left: 520px;
    width: 70%;
}
.skillsection .subject{
    font-size: 18px;
    font-weight: thin;
    color: #aaabb0;
    padding-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 100px;
    margin-top: -400px;
}
.prograsbar{
    width: 100%;
    height: 16px;
    background-color: #2b2a2f;
    border-top:1px solid #000;
    border-bottom: 1px solid #444;
    border-radius: 15px;
     
}
.prograsline{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #0011ff;
    box-shadow: -1px -1px 2px teal,
                 1px 1px 2px teal;
    border-radius: 15px ;

}
.prograsline::after{
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0px;
    transform: translateX(-50%);
    color: #aaabb0;
    font-size: 17px;

}
.btn1 button{
    width: 250px;
    padding: 8px 18px;
    border:1px solid black;
    border-radius: 25px;
    font-size: 25px;
    background-color: #2b2a2f;
    color: #aaabb0;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: 50px;
    
   
}
.btn1 button:hover{
    background-color: teal;
    color: black;
}
@media(max-width:600px){
    .skillsection{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 70px;
        margin-top: 400px;
        margin-left: -90px;
        width: 70%;
    }
    .skillsection .subject{
        font-size: 18px;
        font-weight: thin;
        color: #aaabb0;
        padding-bottom: 5px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-left: 10px;
        margin-top: -400px;
    }
    .prograsbar{
        width: 100%;
        height: 16px;
        background-color: #2b2a2f;
        border-top:1px solid #000;
        border-bottom: 1px solid #444;
        border-radius: 15px;
         
    }
    .btn1 button{
        margin-left: 22px;
    }
}